.Main{
    background-image: url("https://wallpaperaccess.com/full/1799665.jpg");
}

.card {

   
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin-top: 10vh;
}

.card1 {
    width: 50vw;
    display: flex;
    color: white;
    margin-left: 25vw;
    padding: 1.5rem;
    border-radius: 25px 4px;
    box-shadow: 3px 3px 3px 3px black;
}

.Content {
    font-display: flex;
    text-align: left;
    padding-left: 3rem;

}

.Content span {
    color: white;
}

.card img {
    border-radius: 10px;
}